---
import Header from "../components/privacyPolicy/Header.astro";
import Content from "../components/privacyPolicy/Content.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="privacy-policy">
    <Header />
    <Content />
  </div>
</Layout>

<style>
  .privacy-policy {
    font-family: Inter, sans-serif;
  }
</style>
