---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Terms of Service</h1>
    <p>This is the terms of service for Clutch</p>
    <a href="/">Back to home</a>
  </main>

  <style>
    main {
      margin: 0 auto;
      padding: 24px;
      color: #221f1b;
      text-align: center;
    }

    h1 {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 24px;
      color: #221f1b;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #221f1b;
    }
  </style>
</Layout>
